@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Work Sans';
	src: url('/WorkSans.ttf') format('truetype');
	font-weight: 100 900;
	font-display: swap;
}

html, body, body > div {
	@apply min-h-screen;
}

body {
	@apply font-body bg-gray-100 text-gray-600;
}

a, input, button, select, textarea {
	@apply rounded;
}

a:focus-visible, input:focus-visible, button:focus-visible, select:focus-visible, textarea:focus-visible {
	@apply outline-none ring-2 ring-offset-2 ring-offset-gray-100 ring-yellow-400
}


@media (prefers-reduced-motion: reduce) {
	*:not(.motion, .motion *) {
		animation-delay: 0ms !important;
		animation-duration: 1ms !important;
	}
}
